.nav__item {
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: var(--c-pointer);
  border-bottom: 0.5px solid transparent;
  font-family: var(--body-copy);
  font-weight: 400;
  color: var(--content-secondary);
  padding-block: var(--spacing-05);
  padding-inline: var(--spacing-00);
  margin-right: var(--spacing-06);
}

span.category-count {
  color: var(--content-secondary-alt);
  font-family: var(--monospace);
  display: inline-block;
  min-width: var(--spacing-07);
  text-align: center;
  border-radius: var(--spacing-02);
}

.nav__item:hover {
  color: var(--content-primary);
  border-bottom: 0.5px solid var(--border-strong);
}

.nav__item.is-active {
  color: var(--content-primary);
  border-bottom: 0.5px solid var(--accent);
}

.nav__item:hover span.category-count,
.nav__item.is-active span.category-count {
  color: var(--content-primary);
}
